Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Hotels">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Hotel" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
							<xsd:element name="Phone" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
							<xsd:element name="Address">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Number" type="xsd:int" minOccurs="1" maxOccurs="1"/>
										<xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
										<xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"/>
										<xsd:element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"/>
										<xsd:element name="Zip" type="xsd:int" minOccurs="1" maxOccurs="1"/>
									</xsd:sequence>
									<xsd:attribute name="NearestAirport" type="xsd:string" use="required" />
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="Rating" type="xsd:double" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		
	</xsd:element>
</xsd:schema>
